<!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="/assets/user2-160x160.jpg" class="img-circle" alt="User Image" />
                </div>
                <div class="pull-left info">
                    <p>Website Admin</p>
                </div>
            </div>
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li class="header">MAIN NAVIGATION</li>
                <li>
                    <a href="/admin/student_list">
                        <i class="fa fa-pencil"></i> <span>Students list</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/create_student">
                        <i class="fa fa-pencil"></i> <span>Create students</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/faculty_list">
                        <i class="fa fa-pencil"></i> <span>Faculty list</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/create_faculty">
                        <i class="fa fa-pencil"></i> <span>Create faculty</span>
                    </a>
                </li>
                <li>
                    <a href="/video/get_categories_list">
                        <i class="fa fa-pencil"></i> <span>Catagory</span>
                    </a>
                </li>
                <li>
                    <a href="../mailbox/mailbox.html">
                        <i class="fa fa-envelope"></i> <span>Message</span>
                        <small class="label pull-right bg-yellow">12</small>
                    </a>
                </li>
            </ul>
        </section>
    </aside>